* {
  padding: 0;
  margin: 0;
}
.app {
  width: 100%;
  background-image: url("images/dog-puppy.jpg");
  background-size: cover;
  min-height: 745px;
}
.container {
  width: 100%;
  max-width: 1024px; /*максимальная ширина может иметь другое значение*/
  padding: 0 15px;
  margin: 0 auto;
}
header{
  display: block;
  width: 100%;
  max-height: 50px;
}
#root > div > div > main > section:nth-child(2) > nav > ul > li:nth-child(1) > img{
  max-width: 85px;
  padding: 15px 5px 5px 35px;
}
.myImage {
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .myImage {
    animation: myImage infinite 20s linear;
  }
}
@keyframes myImage {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  background-color: #006080;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  font: bold calc(1em + 2 * (100vw - 120px) / 100) 'Dancing Script', fantasy;
  color: #ff0083;
  text-shadow: #000 2px 2px 0.2rem;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  margin-top: 50px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main-content {
  margin-left: 160px; /* Same width as the sidebar + left position in px */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
